---
title: "How to Enable and Rebill LC Email Verification"
url: "https://help.gohighlevel.com/support/solutions/articles/48001235221-how-to-enable-and-rebill-lc-email-verification"
category: "Uncategorized"
---

# How to Enable and Rebill LC Email Verification

Email Verification is a process that checks if an email address has many of the qualities of a legitimate and active account. This bulk tool prevents sending email to fake/inactive addresses. It is only for LC Email and Mailgun.

* * *

**TABLE OF CONTENTS**

-   [What is Email Verification](#What-is-Email-Verification)
-   [How to Enable Email Verification (Agency level)](#How-to-Enable-Email-Verification-\(Agency-level\))
-   [How to Enable Email Verification (Subaccount Level)](#How-to-Enable-Email-Verification-\(Subaccount-Level\))
-   [Enable Email Re-verification every 90 Days](#Enable-Email-Re-verification-every-90-Days)
-   [Email Verification Pricing and Rebilling](#Email-Verification-Pricing-and-Rebilling)
-   [How Email Verification Works](#How-Email-Verification-Works)
-   [Frequently Asked Questions](#Frequently-Asked-Questions)

[](#How-can-I-bill-my-clients-for-usage?)

* * *

# **What is Email Verification**

  

When enabled, Email Verification happens automatically "behind the scenes". It can be set to re-verify every 90 days. It is a paid service and it significantly enhances the health of your email campaigns (by not sending emails to accounts that can't/won't interact with the email). This keeps your sending score high and improves your email delivery rate.

* * *

## **How to Enable Email Verification (Agency level)**

  

<table class="fr-alternate-rows fr-no-borders" data-identifyelement="531" style="width: 100%;"><tbody data-identifyelement="532"><tr data-identifyelement="533"><td data-identifyelement="534" dir="ltr" style="width: 28.3426%;"><u data-identifyelement="535"><strong data-identifyelement="536">Step 1</strong>: Navigate to the Agency &gt; Settings</u></td><td data-identifyelement="537" style="width: 71.6574%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040226444/original/BmdtAPhC_AVF0oeJONK0GfYUKuI58wSjdg.png?1737504795" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040226444" data-identifyelement="538"></td></tr><tr data-identifyelement="539"><td data-identifyelement="540" dir="ltr" style="width: 28.3426%;"><u data-identifyelement="541"><strong data-identifyelement="542">Step 2</strong>: Continue navigating to Email Services &gt; Location Settings &gt; Email Verification column</u></td><td data-identifyelement="543" style="width: 71.6574%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040226468/original/3Pa434oDNqywtAwKMJwsUo5gzpxviq3RAQ.png?1737504887" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040226468" data-identifyelement="544"></td></tr><tr data-identifyelement="545"><td data-identifyelement="546" dir="ltr" style="width: 28.3426%;"><u data-identifyelement="547"><strong data-identifyelement="548">Step 3</strong>: Enable (or disable) Email Verification for each subaccount or for all subaccounts</u></td><td data-identifyelement="549" style="width: 71.6574%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040226484/original/1r_FrAbbQAaa9K1H1Bg9wxpKgJ0YsWs1RA.png?1737504968" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040226484" data-identifyelement="550"></td></tr><tr data-identifyelement="551"><td data-identifyelement="552" dir="ltr" style="width: 28.3426%;"><u data-identifyelement="553"><strong data-identifyelement="554">Optionally, Step 4</strong>: continue navigating to Advanced Settings and check or uncheck "automatically enable email verification for new Subaccounts"</u></td><td data-identifyelement="555" style="width: 71.6574%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040226767/original/tjBsZtiTzP9nxA3pj7WwVtRUolE4Fq86cA.png?1737506094" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040226767" data-identifyelement="556"></td></tr></tbody></table>

  

* * *

## **How to Enable Email Verification (Subaccount Level)**

  

<table class="fr-no-borders fr-alternate-rows" data-identifyelement="562" style="width: 100%;"><tbody data-identifyelement="563"><tr data-identifyelement="564"><td data-identifyelement="565" dir="ltr" style="width: 29.2479%;"><u data-identifyelement="566"><strong data-identifyelement="567">Step 1</strong>: Navigate to Subaccount &gt; Settings</u></td><td data-identifyelement="568" style="width: 70.7521%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040226719/original/dUw4mXRhuaZ5TCLgsajdcEGO_TEzAC3vEw.png?1737505836" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040226719" data-identifyelement="569"></td></tr><tr data-identifyelement="570"><td data-identifyelement="571" dir="ltr" style="width: 29.2479%;"><u data-identifyelement="572" dir="ltr"><strong data-identifyelement="573">Step 2</strong>: Continue navigation to Business Profile &gt; General</u></td><td data-identifyelement="574" style="width: 70.7521%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040226733/original/GPwxyWWVxdylX5rmqrrSMUQMO1OdYYK6Xg.png?1737505901" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040226733" data-identifyelement="575"></td></tr><tr data-identifyelement="576"><td data-identifyelement="577" dir="ltr" style="width: 29.2479%;"><u data-identifyelement="578"><strong data-identifyelement="579">Step 3</strong>: Check or uncheck verify email setting</u></td><td data-identifyelement="580" style="width: 70.7521%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040226749/original/4EFxdTjfNaZ6brzMO_wFU_8Ad5-Rnj2BXg.png?1737505937" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040226749" data-identifyelement="581"></td></tr></tbody></table>

  

  

When email verification is enabled by a sub-account user, a notification will be sent to all active agency admins and the company's registered email address - ATTN: Email Verification Enabled in Sub-Account (only for LC Email).

  

![](https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155029902371/original/GIN4_Fw_IN3QaYv5k9TPQIeWSt1F-OgPow.jpg?1721926642)

* * *

## **Enable Email Re-verification every 90 Days**

  

Since the quality of an email address can change, it is a good idea to re-verify previously verified email addresses regularly. That way you are not finding out they have gone bad after your email sending score is affected.

  

<table class="fr-alternate-rows fr-no-borders" data-identifyelement="588" style="width: 100%;"><tbody data-identifyelement="589"><tr data-identifyelement="590"><td data-identifyelement="591" dir="ltr" style="width: 31.0585%;"><u data-identifyelement="592"><strong data-identifyelement="593">Step 1</strong>: Navigate to Agency &gt; Subaccounts and click on the 3 dot menu in the lower right corner of the Subaccount card &gt; Manage Client</u></td><td data-identifyelement="594" style="width: 68.9415%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040226787/original/GYYxPDEUZlzGxEZLaEG2L9vd-8x2k7V53g.png?1737506220" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040226787" data-identifyelement="595"></td></tr><tr data-identifyelement="596"><td data-identifyelement="597" dir="ltr" style="width: 31.0585%;"><u data-identifyelement="598"><strong data-identifyelement="599">Step 2</strong>: Continue navigating to Advanced Settings &gt; Advanced Email Settings and check or uncheck "Enable Re-verification for 90 days"</u></td><td data-identifyelement="600" style="width: 68.9415%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040226804/original/3NDtG-FaLhZrJuPdH4PjCCRFJ9CVlIpwmg.png?1737506342" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040226804" data-identifyelement="601"></td></tr></tbody></table>

##   

* * *

## **Email Verification Pricing and Rebilling**

  

We charge $2.5 for 1000 Email Verifications for all plans. This is a lower cost than most major providers (ex: $12/1000 with MailGun).

  

The LC Email Verification rebilling settings are in the SaaS Configurator > Plan Details > Rebilling. The Starter plan cannot do rebilling, the Unlimited plan can rebill only the fixed markup 1.05x, and the Pro plan can rebill at a markup between 1.05x and 10x.

  

![](https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040226905/original/3n_R-VvMrLnzpi0n3JKwX6g1gbCSa_bOhg.png?1737506674)  

  

To see the individual Email Verification charges, go to the Agency Billing Wallet. Every individual execution is itemized in this billing view so you can dig into the details and have no ambiguity.

  

<table class="fr-no-borders fr-alternate-rows" data-identifyelement="613" style="width: 100%;"><tbody data-identifyelement="614"><tr data-identifyelement="615"><td data-identifyelement="616" dir="ltr" style="width: 31.3022%;"><u data-identifyelement="617"><strong data-identifyelement="618">Step 1</strong>: Navigate to Agency &gt; Settings</u></td><td data-identifyelement="619" style="width: 68.6978%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040300128/original/arhHUQsbo9aVrGwGQI9r0YcvjJYUapTB8Q.png?1737596728" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040300128" data-identifyelement="620"></td></tr><tr data-identifyelement="621"><td data-identifyelement="622" dir="ltr" style="width: 31.3022%;"><u data-identifyelement="623"><strong data-identifyelement="624">Step 2</strong>: Continue navigation to Billing &gt; Wallet &amp; Transactions &gt; Detailed Transactions</u></td><td data-identifyelement="625" style="width: 68.6978%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040300100/original/Cht9DFF36yQaJKnY1JVRE_IIo9xuQZ5f8g.png?1737596561" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040300100" data-identifyelement="626"></td></tr><tr data-identifyelement="627"><td data-identifyelement="628" dir="ltr" style="width: 31.3022%;"><u data-identifyelement="629"><strong data-identifyelement="630">Step 3</strong>: You can filter to only Email Verification items and then review each transaction in detail.<br data-identifyelement="631"></u></td><td data-identifyelement="632" style="width: 68.6978%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040300126/original/wXYCGB6MXvRNpdodySbMi0DXIwTizc-46A.png?1737596703" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040300126" data-identifyelement="633"></td></tr></tbody></table>

  

* * *

## **How Email Verification Works**

  

When Email Verification is activated, all email addresses will be verified before sending the first email, if it's not already verified. If Re-verification every 90 days is also active, the verification will expire after 90 days and the email address will be verified before sending another email.

  
You can manually check Email Verification on the Contact Details page.

  

<table class="fr-no-borders fr-alternate-rows" data-identifyelement="537" style="width: 100%;"><tbody data-identifyelement="538"><tr data-identifyelement="642"><td data-identifyelement="643" dir="ltr" style="width: 31.0585%;"><u data-identifyelement="644"><strong data-identifyelement="645">Step 1</strong>: Navigate to the Subaccount &gt; Contacts section</u></td><td data-identifyelement="646" style="width: 68.9415%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040300160/original/SKALqJ_LL8rxLaZEnTLKDl0ezY0AIPcnaQ.png?1737596920" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040300160" data-identifyelement="647"></td></tr><tr data-identifyelement="648"><td data-identifyelement="649" dir="ltr" style="width: 31.0585%;"><u data-identifyelement="650"><strong data-identifyelement="651">Step 2</strong>: Click into the details of a contact<br data-identifyelement="652"></u></td><td data-identifyelement="653" style="width: 68.9415%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040300210/original/1Q8oQog4BgRGb0F-0x-Fqo21WRN7R5J4FQ.png?1737597032" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040300210" data-identifyelement="654"></td></tr><tr data-identifyelement="655"><td data-identifyelement="656" dir="ltr" style="width: 31.0585%;"><u data-identifyelement="657"><strong data-identifyelement="658">Step 3</strong>: Expand the Contact section</u></td><td data-identifyelement="659" style="width: 68.9415%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040300233/original/kEive6W3un5YtnbZ2ZUXMd_LJsU5m0Ikqw.png?1737597112" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040300233" data-identifyelement="660"></td></tr><tr><td dir="ltr" style="width: 31.0585%;"><strong data-identifyelement="664" dir="ltr"><u>Step 4</u></strong><u>: Scroll down to the Email field</u><br></td><td style="width: 68.9415%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040440257/original/FJYzNO-k72vrGzNDGyN2Ij9YXP1dlTEt6g.png?1737770899" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040440257"></td></tr><tr data-identifyelement="668"><td data-identifyelement="669" dir="ltr" style="width: 31.0585%;">"Not Verified" means the email has not been tested with the Email Verification service.</td><td data-identifyelement="670" style="width: 68.9415%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040300289/original/kvN55koy3sDHrGJXgDXIkSvAk13u-WgfNw.png?1737597234" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040300289" data-identifyelement="671"></td></tr><tr data-identifyelement="672"><td data-identifyelement="673" dir="ltr" style="width: 31.0585%;">"Invalid" means the email has been tested and has failed Email Verification.</td><td data-identifyelement="674" style="width: 68.9415%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040300292/original/xqVPIQfH1Set388He-QkYoEOsNzwMSkrTA.png?1737597259" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040300292" data-identifyelement="675"></td></tr><tr data-identifyelement="676"><td data-identifyelement="677" dir="ltr" style="width: 31.0585%;">"Verified" means the email has been tested and has passed Email Verification.</td><td data-identifyelement="678" style="width: 68.9415%;"><img src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/155040300294/original/A1DriVwG5LvV65BmqXhRbf4RwIltTTViuA.png?1737597283" style="width: auto; max-width: 100%;" class="fr-fic fr-fil fr-dib fr-bordered" data-attachment="[object Object]" data-id="155040300294" data-identifyelement="679"></td></tr></tbody></table>

  

* * *

  

## **Frequently Asked Questions**

  

**What does Email Verification check for?**

Email Validation checks if the email is on a "bad" list at Mailgun. Furthermore, it checks:

-   The email address syntax is correct.
-   The domain is set up to receive email.
-   The email address exists.
-   The email address isn’t a high-risk address.
-   The email address isn’t role-based, such as info@domain.com or admin@domain.com.

**  
Why is Email Verification important?**

Email Validation is important because it:

-   Boosts your delivery rate by removing invalid email addresses.
-   Maintains your mailing list hygiene by keeping your email list up-to-date.
-   Improves your email marketing metrics like click-through rate (CTR), open rate, and click-to-open ratio (CTOR).
-   Protects your sender's reputation.

**  
How does Email Verification impact my email deliverability?**

Email deliverability is highly impacted by bounced emails. Decrease email bounces by performing email verification ahead of time.

  

Your IP address and domain reputation take a hit when your email service provider (ESP) can’t place your email into a subscriber’s inbox. This impacts future deliverability because email clients rely on IP and sender reputations to determine whether or not to deliver your messages. If you have a bad sender or IP reputation, email clients may decide to place emails sent from your domain name in your subscriber’s spam folder. Or, they may not deliver them at all.

**Why does my sub-account have automatic email verification enabled?**

Sub-account has automatic email verification enabled because it was created within the last 30 days, and the deliverability rate of imported email list fell below 90%. This feature is designed to ensure the accuracy and deliverability of email addresses, helping to maintain high deliverability rates and effective emails.

**  
When should I verify my email list?**

If you’ve bought a mailing list (which we highly recommend that you don’t) or if you’ve inherited a mailing list you’re unfamiliar with. It’s a great idea to use an email verifier.

  

In addition, if your list has grown or it’s been some time since you last verified your email addresses, we recommend giving your mailing list a health check today.

**  
Where can I see my client's email usage?**

You can see the client's email usage by navigating to Agency Settings -> Billing -> See Details (under Credits).

**  
How can I bill my clients for usage?**

If you are on the Unlimited or Pro plan, you can rebill your clients and save the time & effort needed to bill them manually.