---
title: "Email Verification"
url: "https://marketplace.gohighlevel.com/docs/ghl/email-isv/verify-email"
category: ""
---

# Email Verification

# Email Verification

POST 

## /email/verify

Verify Email

## Request[​](#request "Direct link to Request")

## Responses[​](#responses "Direct link to Responses")

-   201
-   400
-   401
-   422

Successful response

Bad Request

Unauthorized

Unprocessable Entity